@import '../../../scss/base/base';

.pagination {
  display: flex;
  flex-direction: row;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.arrow-button {
  background-color: $white;
  border: 1px solid $gray100;
  border-radius: $base-border-radius;
  color: $gray600;
  font-size: 1rem;
  height: 36px;
  width: 36px;

  &:hover {
    background-color: darken($white, 5%);
    color: lighten($gray400, 5%);
  }

  &.disabled {
    color: $gray200;
    background-color: darken($white, 5%);
  }
}

.page-numbers {
  margin: 2px 10px;
  font-size: 1.4rem;
  line-height: 3.3rem;
}

.current-page {
  color: $gray600;
}

.total-pages {
  color: $gray400;
}
