@import '../../../scss/style.scss';

.login {
  background-color: $white;
  display: grid;
  grid-gap: 12px 30px;
  padding: 30px;
  margin: 0;
  width: 400px;
  height: auto;

  .logo {
    display: grid;
    justify-content: center;
  }
}

.pwd-link {
  position: relative;
}

.forgot {
  position: absolute;
  top: 28px;
  right: 0;
  margin: 0.8rem;
  font-size: 1.3rem;
  color: $gray500;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
