@import '../../../scss/style.scss';

.login {
  background-color: $white;
  display: grid;
  grid-gap: 20px;
  padding: 5px;
  width: 450px;
  height: auto;
}

.logo {
  transform: scale(1.3);
}
.pwdLink {
  position: relative;
}

.forgot {
  position: absolute;
  right: 0;
  margin: 0.8rem;
  font-size: 1.3rem;
  color: $gray500;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
