@import "../../../scss/base/base";

.search-box {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1.2rem 0.8rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: $gray400;
}
