{
  "processors": [    
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-sass-guidelines"
  ],
  "defaultSeverity": "warning",
  "rules": {
    "max-nesting-depth": 5,
    "order/properties-alphabetical-order": null,
    "string-quotes": null,
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "scss/at-function-pattern": .
  }
}