@import '../../../scss/base/base';

.form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px 30px;
  padding: 25px;
  width: 100%;
  background-color: $form-bg-color;
  align-content: start;
  position: relative;
  height: 100%;

  .title {
    grid-column: 1 / span 1;
  }

  &.buttons {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 30px;
    align-content: end;
    position: relative;
    padding: 0;
  }

  @media (min-width: 500px) {
    grid-template-columns: repeat(2, 1fr);

    .title {
      grid-column: 1 / span 2;
    }
  }
}
