@import "../../../scss/base/base";

.nav-bar {
  overflow: hidden;
  background-color: $off-white;
  min-height: 16px * 6.3;

  a {
    display: block;
    padding: 5px 0;
  }

  @media screen and (min-width: 600px) {
    a {
      display: inline-block;
      margin-right: 10px;
    }
  }
}
