@import '../../../scss/style.scss';

.data-table {
  font-size: 1.4rem;

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  td {
    padding: 15px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th {
    padding: 15px;
    text-align: left;
    color: $gray600;
    background: $gray000;
    font-size: 1.2rem;
    font-weight: 500;
    position: sticky;
    text-transform: uppercase;
    top: 0;
  }

  th:first-child {
    width: 55px;
    padding: 23px 15px;
  }

  td:last-child,
  th:last-child {
    width: 55px;
    text-align: right;
  }

  tr {
    border-bottom: 2px solid $gray000;
  }

  &.selected-row {
    background-color: lighten($color: $yellow, $amount: 30%);
  }
}
