@import '../../../scss/base/base';

.icon-only-button {
  background-color: $off-white;
  border: 1px solid #adadad;
  padding: 12px 8px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  i {
    color: #adadad;
    font-size: 2px;
  }

  &:hover {
    background-color: invert($off-white);
    border: 1px solid invert(#adadad);
  }
}
