@import '../../../scss/base/base';

.cta {
  display: flex;

  &.right {
    justify-content: flex-end;
  }

  &.left {
    justify-content: flex-start;
  }

  > * {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
