$icon-user-o: '\e912';
$icon-user-circle-o: '\e913';
$icon-user-circle: '\e914';
$icon-user: '\e911';
$icon-search: '\e910';
$icon-actions: '\e900';
$icon-changelog: '\e901';
$icon-cog: '\e902';
$icon-disabled: '\e903';
$icon-drag: '\e904';
$icon-duplicate: '\e905';
$icon-edit: '\e906';
$icon-eye: '\e907';
$icon-filter: '\e908';
$icon-filter2: '\e909';
$icon-left-arrow: '\e90a';
$icon-plus: '\e90b';
$icon-right-arrow: '\e90c';
$icon-tag: '\e90d';
$icon-times: '\e90e';
$icon-trash: '\e90f';
