@import '../../../scss/base/base';

@mixin side-panel-width {
  width: 95vw;

  @media (min-width: 500px) {
    width: 85vw;
  }

  @media (min-width: 700px) {
    width: 75vw;
  }

  @media (min-width: 900px) {
    width: 65vw;
  }

  @media (min-width: 1200px) {
    width: 45vw;
  }
}

.side-panel {
  &.overlay {
    visibility: hidden;
    opacity: 0;
    background-color: $gray600;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 17;
    transition: all 800ms ease-in-out;

    &.show {
      opacity: 0.7;
      visibility: visible;
    }

    &.hide {
      opacity: 0;
      visibility: hidden;
    }
  }

  &.content {
    top: 0;
    right: 0;
    width: 0;
    background-color: $side-panel-bg-color;
    position: fixed;
    height: 100vh;
    box-shadow: 0 9px 11px rgba(0, 0, 0, 0.5);
    z-index: 18;
    transition: width 800ms ease-in-out;
    overflow-y: auto;

    &.show {
      @include side-panel-width;
    }
  }
}

.inner-content {
  @include side-panel-width;
  top: 0;
  right: 0;
  position: relative;
  visibility: visible;
}
