@import "../../../scss/base/base";

.errorWarning {
  &::before {
    color: $danger;
    content: '*';
    padding-right: 1px;
  }
}

.input-text {
  font-family: 'Roboto Regular', sans-serif;
  height: 44px;

  appearance: none;
  background-color: $_form-background-color;
  border: 1px solid transparent;
  border-radius: $base-border-radius;
  box-shadow: $_form-box-shadow;
  box-sizing: border-box;
  margin-bottom: $small-spacing;
  padding: 1.8rem;
  transition: border-color $base-duration $base-timing;
  display: block;
  width: 100%;
  color: $gray500;

  &:hover {
    border-color: lighten($base-border-color, 5%);
    box-shadow: $_form-box-shadow-focus;
  }

  &:focus {
    border-color: lighten($base-border-color, 5%);
    box-shadow: $_form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background-color: shade($_form-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }

  &::placeholder {
    color: tint($base-font-color, 40%);
  }

  &.error {
    border: 1px solid $danger;
  }
}

.error-message {
  display: block;
  padding: 0 10px;
  font-size: 1.2rem;
  color: $danger;
}
