@import '../../../scss/style.scss';

.errorWarning {
  &::before {
    color: $danger;
    content: '*';
    padding-right: 1px;
  }
}

.input-text {
  border-radius: 3px;
  color: $gray500;
  font-family: 'Roboto Regular', sans-serif;
  height: 44px;
  min-width: 270px;
  padding: 1.8rem;

  &.error {
    border: 1px solid $danger;
  }
}
