@import '../../../assets/styles/theme';

.errorWarning {
  &::before {
    color: $danger;
    content: '*';
    padding-right: 1px;
  }
}

.input-text {
  background-color: $gray100;
  border-radius: 3px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.09);
  border: 1px solid $gray100;
  color: $gray500;
  font-family: 'Roboto Regular', sans-serif;
  height: 44px;
  min-width: 270px;

  &:focus {
    border: 1px solid $gray400;
    color: $gray700;
  }

  &.error {
    border: 1px solid $danger;
  }
}
