/*! Sketch-Color-Vars v1.3.1 | MIT License | github.com/philsinatra/Sketch-Color-Vars/ */
.button {
  background-color: #fff;
  border: 1px solid #222;
  color: #222;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  border-radius: 5px;
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
  padding: 0.6rem 1.8rem;
}
.button:hover {
  background-color: #222;
  border: 1px solid #222;
  color: #fff;
}
.button.primary {
  background-color: #0559b3;
  border: 1px solid #0559b3;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
}
.button.primary:hover {
  background-color: #0559b3;
  border: 1px solid #0559b3;
  color: #fff;
}
.button.secondary {
  background-color: #66b5bc;
  border: 1px solid #66b5bc;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
}
.button.secondary:hover {
  background-color: #66b5bc;
  border: 1px solid #66b5bc;
  color: #fff;
}
.button.danger {
  background-color: #f25b51;
  border: 1px solid #f25b51;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
}
.button.danger:hover {
  background-color: #f25b51;
  border: 1px solid #f25b51;
  color: #fff;
}
.button.success {
  background-color: #66bc7f;
  border: 1px solid #66bc7f;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
}
.button.success:hover {
  background-color: #66bc7f;
  border: 1px solid #66bc7f;
  color: #fff;
}
