@import '../../../assets/styles/theme';

.button {
  align-items: center;
  display: flex;
  justify-content: center;

  &.default {
    @include button($gray700, $white, $gray700, $white, $gray700, $gray700);
  }

  &.primary {
    @include button($white, $primary, $primary, $white, $primary, $primary);
  }

  &.secondary {
    @include button($white, $secondary, $secondary, $white, $secondary, $secondary);
  }

  &.danger {
    @include button($white, $danger, $danger, $white, $danger, $danger);
  }

  &.success {
    @include button($white, $success, $success, $white, $success, $success);
  }
}
