@import "../../../scss/base/base";

.button {
  /** Default */
  @include button($gray700, $white, $gray700, $white, $gray700, $gray700);

  align-items: center;
  border-radius: 4px;
  font-family: 'Roboto Bold', sans-serif;
  font-size: 1.4rem;
  padding: 0 1.8rem;
  transition: border-color 0.25s ease-in-out, box-shadow 0.1s ease-in-out,
    background-color 0.25s ease-in-out, color 0.25s ease-in-out;

  &.medium {
    line-height: 38px;
    min-width: 8.5em;
  }

  &.small {
    line-height: 30px;
    min-width: unset;
  }

  &.large {
    line-height: 42px;
    min-width: 15em;
  }

  &.xlarge {
    line-height: 45px;
    min-width: 18em;
  }

  &.primary {
    @include button($white, $primary, $primary, $white, $primary, $primary);
  }

  &.secondary {
    @include button($white, $secondary, $secondary, $white, $secondary, $secondary);
  }

  &.danger {
    @include button($white, $danger, $danger, $white, $danger, $danger);
  }

  &.success {
    @include button($white, $success, $success, $white, $success, $success);
  }
}

.nav-item {
  font-family: 'Archivo Regular', sans-serif;
  color: $gray300;
  font-size: 1.6rem;
  padding: 0 1.8rem;
  // display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  line-height: 170%;

  &::after {
    background-color: $red;
    display: block;
    content: '';
    height: 3px;
    width: 0;
    margin: 0;
    transition: width 0.3s ease-out;
  }

  &:hover {
    color: $gray500;

    &::after {
      width: 50%;
    }
  }
}
