@import '../../../scss/style.scss';

.block {
  background-color: $gray000;
  font-family: $heading-font-family;
  color: $gray600;
  padding: 40px 20px;
  font-size: 1.6rem;
  flex: 1;
  display: inline-block;
}
