@import '../../../scss/style.scss';
/* The toggle-radio - the box around the slider */
.toggle-radio {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 6px;

  margin: 20px 10px;
}

/* Hide default HTML checkbox */
.toggle-radio input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $red;
  transition: 400ms ease-in-out;
}

.slider::before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: -1px;
  bottom: -6px;
  background-color: $off-white;
  transition: 400ms ease-in-out;
}

input:checked + .slider {
  background-color: $green;
}

input:focus + .slider {
  box-shadow: 0 0 1px $green;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
