@import '../../../scss/base/base';

.actions-menu {
  background-color: $gray000;
  border: 1px solid $gray200;
  border-radius: $base-border-radius;
  flex-direction: column;
  width: 150px;
  font-size: 1.4rem;
  position: absolute;
  right: 10px;

  &.show {
    display: flex;
  }

  &.hide {
    display: none;
  }

  .item {
    color: $gray600;
    flex: 1;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding: 2px 10px;

    &:first-child {
      padding-top: 10px;
    }

    &:last-child {
      padding-bottom: 10px;
    }

    &:hover {
      background-color: lighten($yellow, 30%);
      color: darken($gray600, 15%);
    }
  }

  .danger {
    color: $danger;

    &:hover {
      color: darken($danger, 15%);
    }
  }
}

.icon {
  margin-right: 12px;
  font-size: 1.1rem;
}
