@import "../../../scss/base/base";

.container {
  font-size: 1.4rem;
  background-color: $gray000;
  border-radius: $base-border-radius;
  position: relative;
  height: 44px;
  z-index: 20;

  cursor: pointer;

  &.dropdown {
    display: none;
    flex-direction: column;
    position: relative;

    &.show {
      display: flex;
    }

    &.hide {
      display: none;
    }
  }
}

.selected {
  span::after {
    content: '';
    border: solid $gray500;
    border-width: 0 2.5px 2.5px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin: 10px;
    right: 0;
    position: absolute;
  }
}

.selected,
.item {
  background-color: $gray000;
  padding: 10px;

  &:last-child {
    border-bottom-left-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
  }

  &:hover {
    background-color: $hover-color;
  }
}

.label {
  padding-right: 10px;
}

.label,
.placeholder {
  color: $gray400;
}
