@import '../../../scss/style.scss';

.actions-menu {
  background-color: $gray100;
  border: 1px solid $gray200;
  border-radius: $base-border-radius;
  flex-direction: column;
  width: 170px;
  font-size: 1.6rem;
  position: absolute;

  &.show {
    display: flex;
  }

  &.hide {
    display: none;
  }

  .item {
    color: $gray600;
    flex: 1;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding: 5px 15px;

    &:first-child {
      padding-top: 15px;
    }

    &:last-child {
      padding-bottom: 15px;
    }

    i {
      margin-right: 10px;
    }

    &:hover {
      background-color: lighten($yellow, 30%);
      color: lighten($gray600, 20%);
    }
  }

  .danger {
    color: $danger;

    &:hover {
      color: lighten($danger, 20%);
    }
  }
}
