html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $bg-color;
  color: $base-font-color;
  font-family: $body-font-family;
  font-size: 2rem;
  /*font-weight: ${({ theme }) => theme.fontWeights.normal};*/
  line-height: 160%;
  margin: 0;
  padding: 0;
}

input {
  font-family: $body-font-family;
  font-size: 1.9rem;
}

p {
  max-width: 635px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: $heading-font-family;
  color: $heading-color;
}

img {
  display: block;
  max-width: 100%;
}

a {
  /*font-weight: ${({ theme }) => theme.fontWeights.normal};
    color: ${({ theme }) => theme.palette.green};*/

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
