$brand: #c6161c;
$primary: #0559b3 !default;
$secondary: #66b5bc;
$danger: #f25b51;
$success: #66bc7f;
$warning: #f4c947;

//bitters
// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

$bg-color: $light-gray;

//Blues
$opacity-blue: rgba(5, 89, 179, 0.6) !default;
$custom-blue: #eef7ff !default;
$dark-blue: #1b3a6e !default;
$highlight-blue: #a5c9ef !default;
$light-blue: #5e9ed6 !default;

//Grays
$gray100: #dcdcdc !default;
$gray200: #f5f5f5 !default;
$gray300: #eaeaea !default;
$gray400: #bfbfbf !default;
$gray500: #808080 !default;
$gray600: #404040 !default;
$gray700: #222 !default;
$white: #fff !default;
$black: #000 !default;

//Orange
$primary-orange: #ec4a08 !default;

//Reds
$primary-red: #cf0500 !default;

//Yellow
$primary-yellow: #ffb400 !default;

//Green
$primary-green: #77b800;
