/*! Sketch-Color-Vars v1.3.1 | MIT License | github.com/philsinatra/Sketch-Color-Vars/ */
$brand: #c6161c;
$danger: #f25b51;
$warning: #f4c947;
$secondary: #66b5bc;
$success: #66bc7f;

//bitters
// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

//Blues
$primary-blue: #0559b3 !default;
$opacity-blue: rgba(5, 89, 179, 0.6) !default;
$custom-blue: #eef7ff !default;
$dark-blue: #1b3a6e !default;
$highlight-blue: #a5c9ef !default;
$light-blue: #5e9ed6 !default;

//Grays
$gray-100: #dcdcdc !default;
$gray-200: #f5f5f5 !default;
$gray-300: #eaeaea !default;
$gray-400: #bfbfbf !default;
$gray-500: #808080 !default;
$gray-600: #404040 !default;
$gray-700: #222 !default;
$white: #fff !default;
$black: #000 !default;

//Orange
$primary-orange: #ec4a08 !default;

//Reds
$primary-red: #cf0500 !default;

//Yellow
$primary-yellow: #ffb400 !default;

//Green
$primary-green: #77b800;
