@font-face {
  font-family: 'Roboto Bold';
  src: url('/fonts/Roboto-Bold.woff2') format('woff2'),
    url('/fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('/fonts/Roboto-Medium.woff2') format('woff2'),
    url('/fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Normal';
  src: url('/fonts/Roboto-Regular.woff2') format('woff2'),
    url('/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Archivo Regular;';
  src: url('/fonts/Archivo-Regular.woff2') format('woff2'),
    url('/fonts/Archivo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Archivo Medium';
  src: url('/fonts/Archivo-Medium.woff2') format('woff2'),
    url('/fonts/Archivo-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Archivo Bold';
  src: url('/fonts/Archivo-Bold.woff2') format('woff2'),
    url('/fonts/Archivo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
