@import 'variables';

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?h1no4k');
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?h1no4k#iefix')
      format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?h1no4k') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?h1no4k') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?h1no4k##{$icomoon-font-family}')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-actions {
  &::before {
    content: $icon-actions;
  }
}
.icon-changelog {
  &::before {
    content: $icon-changelog;
  }
}
.icon-cog {
  &::before {
    content: $icon-cog;
  }
}
.icon-disabled {
  &::before {
    content: $icon-disabled;
  }
}
.icon-drag {
  &::before {
    content: $icon-drag;
  }
}
.icon-duplicate {
  &::before {
    content: $icon-duplicate;
  }
}
.icon-edit {
  &::before {
    content: $icon-edit;
  }
}
.icon-eye {
  &::before {
    content: $icon-eye;
  }
}
.icon-filter {
  &::before {
    content: $icon-filter;
  }
}
.icon-filter2 {
  &::before {
    content: $icon-filter2;
  }
}
.icon-left_arrow {
  &::before {
    content: $icon-left_arrow;
  }
}
.icon-plus {
  &::before {
    content: $icon-plus;
  }
}
.icon-right_arrow {
  &::before {
    content: $icon-right_arrow;
  }
}
.icon-tag {
  &::before {
    content: $icon-tag;
  }
}
.icon-times {
  &::before {
    content: $icon-times;
  }
}
.icon-trash {
  &::before {
    content: $icon-trash;
  }
}
