$icon-font-family: 'market-ui-icon-kit' !default;
$icon-font-path: '../fonts/icons' !default;

$icon-search: '\e910';
$icon-actions: '\e900';
$icon-changelog: '\e901';
$icon-cog: '\e902';
$icon-disabled: '\e903';
$icon-drag: '\e904';
$icon-duplicate: '\e905';
$icon-edit: '\e906';
$icon-eye: '\e907';
$icon-filter: '\e908';
$icon-filter2: '\e909';
$icon-left_arrow: '\e90a';
$icon-plus: '\e90b';
$icon-right_arrow: '\e90c';
$icon-tag: '\e90d';
$icon-times: '\e90e';
$icon-trash: '\e90f';
