@import '../../../scss/base/base';

.table-content {
  position: absolute;
  background-color: $gray000;
  border: 1px solid $gray200;
  border-radius: $base-border-radius;
  min-width: 200px;
  z-index: 5;
}

.chk {
  display: inline-flex;
  margin-right: 15px;
}

.label {
  margin-left: 10px;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 500;
  font-family: 'Archivo Regular', Verdana, Geneva, Tahoma, sans-serif;
  line-height: 20px;

  &.selected {
    font-weight: 900;
  }
}

.item {
  cursor: pointer;
  display: inline-flex;
  font-weight: 700;
  padding: 5px 15px;
  margin: 0;

  &:first-child {
    padding-top: 10px;
  }

  &:last-child {
    padding-bottom: 10px;
  }

  &:hover {
    background-color: $hover-color;
  }
}
