@import '../../../scss/base/base';

.checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  padding: 8px 5px;

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid $gray200;

    &::after {
      content: '';
      position: absolute;
      display: none;
      left: 5px;
      top: 0.5px;
      height: 12.5px;
      width: 6.5px;
      border: solid $white;
      border-width: 0 1.5px 1.5px 0;
      transform: rotate(45deg);
    }

    &.multi-selection {
      &::after {
        content: '';
        position: absolute;
        display: none;
        left: 3px;
        top: -3.5px;
        height: 12.5px;
        width: 10px;
        border: solid #fff;
        border-width: 0 0 2px;
        transform: rotate(0deg);
      }
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      background-color: $green;
      border-color: transparent;
    }

    &:checked ~ .checkmark::after {
      display: block;
    }
  }

  &:hover input ~ .checkmark {
    border: 2px solid $gray400;
  }
}
